html{
	   scroll-behavior: smooth;
	}
body{
		background-repeat: round;
	}
header,footer{
		    	
		background-repeat: round;
		padding: 1%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;
		font-weight: bolder;
		background-color: rgba(0,0,0);
		
	}
.menu-opcoes{
		text-align: center;
	}
.fixo{
		top:0;
		right:0;
		left:0;
		z-index:1030;
	}
.ajustes li:hover{
		background-color:#ADD8E6;
		
	}
.container{

		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
/*tela menor que 599px */	
@media screen and (max-width: 599px){
	.container{
		margin-top:65%;			
	}
	}
	/*tela maior que 600px */	
@media screen and (min-width:600px){
	.container{
		margin-top:40%;				
	}
	}

		/*telas maiores que 768px */
@media screen and (min-width:768px) {
		.container{
		margin-top:5%;	}

header{
			background-color: rgba(25,25,112);
			flex-direction: row;
			position:relative;
			height: 100px;
		}
.menu-opcoes{
			position:absolute;
			right: 5%;
			top:40%;
		}
.menu-opcoes ul li{
			display: inline;
			margin-left: 5px; 
		}
.imglogo{

			position: absolute;
			top:18px;
			left: 2%;
		}
h3{

		font-size: 2em;
		font-family: 'Kaisei Tokumin', serif;

	}
h2{
		font-size: 1.5em;
		font-family: 'Karantina', cursive;
	}
h1{
	font-family: 'Parisienne', cursive;
	font-size: 1.5em;
}
.imgtexto {

				border: 5px dashed:#000000;
				width: 60%;


			}
.listastexto{

			
			color:#000000;
			font-weight: bolder;
			margin-top: 1%;
			margin-bottom: 1%;
			font-size: 1em;
			

			}
p{

		
		font-weight: bolder;
		font-size: 1.2em;
		text-align: justify;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		font-family: 'Dancing Script', cursive;

		}
a:link {
	  color:#000080;
	  background-color: transparent;
	  text-decoration: none;
	}
a:visited {
	  color:	#1E90FF;
	  background-color: transparent;
	  text-decoration: none;
	  
	}

